/* Base styles for the navbar */
.navbar {
  position: fixed;
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  z-index: 999;
}

/* Navbar at the top */
.navbar.top {
  width: 100%;
  flex-direction: row; /* Horizontal layout */
}

/* Navbar on the left side */
.navbar.left {
  height: 100%;
  width: 200px; /* Adjust width as needed */
  flex-direction: column;
  align-items: flex-start;
  top: 0;
  left: 0;
  padding-top: 20px;
}

/* Profile Section */
.navbar-profile {
  display: flex;
  align-items: center;
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
}

/* Links Styling */
.navbar .nav-links {
  display: flex;
  gap: 10px; /* Space between buttons */
}

.navbar .nav-links button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
}

.navbar .nav-links button:hover {
  background-color: #575757;
}

/* Content Margin */
.content {
  margin-top: 50px; /* Adjust based on navbar height when at the top */
}

.content.with-margin {
  margin-left: 200px; /* Margin for non-home pages */
}
/* Add these styles to your Navbar.css file */

.status-box {
  background-color: #4CAF50; 
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Status box styling */