/* Base styles for the navbar */
.navbar {
    position: fixed;
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease;
    top: 0;
  }
  
  /* Navbar at the top */
  .navbar.top {
    width: 100%;
    flex-direction:row;
    
  }
  
  /* Navbar at the leftmost part */
  .navbar.left {
    height: 100%;
    width: 100px; /* Adjust width as needed */
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    left: 0;
  }
  
  /* Navbar links */
  .navbar a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  

  /* Default content margin for the home page */
.content {
    margin-left: 0; /* No margin for home page */
    transition: margin-left 0.3s ease; /* Smooth transition for margin change */
}

/* Content margin for other pages */
.content.with-margin {
    margin-left: 150px; /* Margin for non-home pages */
}

  